@{
    ViewBag.Title = "Liên hệ - 3TS Shop";
    Layout = "~/Views/Shared/_LayoutPageCommonClient.cshtml";
}

<h2 class="text-center fw-bold mt-3" style="font-family:'Times New Roman'">˖◛⁺⑅♡ THÔNG TIN LIÊN HỆ ♡⑅⁺◛˖</h2>
<div class="row">
    <div class="col-1">
        <span style="font-size: 3em;">
            <i class="fas fa-envelope"></i>
        </span>
    </div>
    <div class="col-4 contenCenter JusLeft">
        <pre class="mb-0" style="font-size:18px; font-family:'Times New Roman'"><a href="mailto:tinamytran2014@gmail.com" target="_blank">tinamytran2014@gmail.com</a>
<a href="mailto:tam555969@gmail.com" target="_blank">tam555969@gmail.com</a></pre>
    </div>
    

    <div class="col-6 contenCenter JusRight">
        <pre class="mb-0 text-end" style="font-size:18px;font-family:'Times New Roman'"><a href="tel:0938xxxxxx">0938xxxxxx (ABC)</a>
<a href="tel:0938xxxxxx">0938xxxxxx (XYZ)</a></pre>
    </div>
    <div class="col-1">
        <span style="font-size: 3em;">
            <i class="fas fa-phone"></i>
        </span>
    </div>
</div>

<style>
    .contenCenter {
        align-items: center;
        display: flex;
    }
    .JusRight {
        justify-content: right;
    }
    .JusLeft {
        justify-content: left;
    }
</style>
